/* FONT */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;700;800&display=swap');

/* BASIC */

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    width: 100vw;
    height: 100vh;
    background-color: #222;
    color: #f1f1f1;
    transition: all 250ms;
}

.container {
    width: 575px;
    height: 100vh;
    margin: 0 auto;
    display: grid;
    align-content: center;
    align-items: center;
}

p, h1, h2, h3 {
    margin: 0;
}

h1 {
    font-size: 2.25em!important;
}

p {
    font-size: 1.25em!important;
}

header {
    text-align: center;
    margin-bottom: 25px;
}

h3 {
    margin-bottom: 15px;

}

@media only screen and (max-width: 400px) {
    .container {
        width: 98vw;
    }

    .header {
        margin-bottom: 100px;
    }
}

.icon {
    width: 175px;
    height: 175px;
    border-radius: 19px;
    margin: 1px 0 0 1px;
    box-shadow: 0 0 0 4px #fff;
    margin-bottom: 10px;
}

a {
    color: #222;
}

main {
    text-align: center;
}

.SocialIcons {
    margin-right: 10px;
    margin-left: 10px;
    height: 60px;
    width: 60px;
    
}

#EmailCopyConfirmation {
    margin-top: 3vh;
    display: none;
    text-align: center;
}

.HidenButton {
  background-color: #222;
  border: none;
  color: #222;
  padding: 0;
  margin: 0;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;

}

.Socialsfirstrow {
    margin-bottom: 10px;
}

.CurrentProjects {
    margin-top: 20px;
    text-align: left;
}

.CurrentProjects h2 {
    margin-bottom: 5px!important;
}

.standup {
    padding: 15px;
    background-color: #333333;
    border-radius: 10px;
}

.centered {
    width: 50%;
}

/* SCROLLING BAR */

::-webkit-scrollbar {
    width: 10px;
}
  
 ::-webkit-scrollbar-track {
    background: #f1f1f1;
}
  
::-webkit-scrollbar-thumb {
    background: #888;
}
  
::-webkit-scrollbar-thumb:hover {
    background: #555;
}