.container {
    position: relative;
}

.header {
    background-color: #F1F1F1;
    padding: 20px;

}

.ebalo {
    border-radius: 15%;
    position: absolute;

    width: 10vmax;
    height: 10vmin;
}