RewriteEngine On
RewriteBase /secret/

## Protect A File
<Files admin.php>
AuthName "Access to Admin File"
AuthType Basic
AuthUserFile /secret/.htpasswd
Require valid-user
</Files>

## Protect A Directory
AuthName "Access to Admin Directory"
AuthType Basic
AuthUserFile /secret/.htpasswd
Require valid-user

## Error page for unauthorized
ErrorDocument 401 /errors/401.html